@import url('https://fonts.cdnfonts.com/css/bigmacca');
@import url('https://fonts.cdnfonts.com/css/exo-20');
body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

	--popover-max-width: 90vw;
	
    background-image: url(https://i.imgur.com/QWI2l7y.png);
	background-repeat: repeat;
	background-size: contain;
}

@media (width <= 850px) {
    main.content.cm-s-obsidian {
        padding-inline: 2em;
	    font-size: 0.8em;
	    	h1 {
	 font-family: 'BIGMACCA', Calibri, Tahoma, sans-serif;
	}
    }
	    .navbar-inner {
        padding-left: 25px;
    }
div#tooltip-wrapper {
    top: 50% !important;
    left: 50% !important;
    translate: -50% -50%;
	}
}
.inline-title {
  text-shadow: 0 0 17px #008080;
}

.markdown-preview-view h1 {
  text-shadow: 0 0 17px #008080;
}
