body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d2/NVM_Express_logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
