@import url('https://fonts.cdnfonts.com/css/bigmacca');
@import url('https://fonts.cdnfonts.com/css/exo-20');
body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
	// ensures the font loads
       .content.cm-s-obsidian {
	       font-family: 'Exo 2.0', sans-serif;
	}
	// idk what this does
	--popover-max-width: 90vw;
	// ensures the bg loads
    background-image: url(https://i.imgur.com/QWI2l7y.png);
	background-repeat: repeat;
	background-size: contain;
}

// increase heading spacing just a little, as a treat
.markdown-rendered :is(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 2em; /* default is 1em */    
}

// uh... it's for bullet lists I think, to squish them up
.markdown-rendered ul, .markdown-rendered ol {
    margin-block-start: -1em;
    margin-block-end: 0px;
}

// extra lines required to make mobile work
@media (width <= 850px) {
    main.content.cm-s-obsidian {
        padding-inline: 2em;
	    font-size: 0.875em;
	    	h1 {
	 font-family: 'BIGMACCA', Calibri, Tahoma, sans-serif;
	}
    }
	    .navbar-inner {
        padding-left: 25px;
    }
div#tooltip-wrapper {
    top: 50% !important;
    left: 50% !important;
    translate: -50% -50%;
	}
}

// inline title glow
.inline-title {
  text-shadow: 0 0 17px #008080;
}
// text glow
.markdown-preview-view h1 {
  text-shadow: 0 0 17px #008080;
}
